*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    
}
:root{
    --tipoLetra:'Poppins';
    --ColorLetra:#222864;
    --boton-color:#ffffff;
    --fondo-color:#0C646D;
    --backgrnd-color:rgba(231, 239, 240, 0.3);
    --color-text:#9093B1;
}

.encabezado{
    font-family: var(--tipoLetra);
    color: var(--ColorLetra);
}
.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.header_conteiner{
    width: 1440px;
    height:156px ;
    left:14px ;
    
}
li, a{
    list-style-type: none;
    text-decoration: none;
}
.flex_icon{
    gap:10px;
}

.flex_nav {
     gap:30px;
        
     
}
.enteror{
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
width: 132px;
height: 54px;
left: 168px;
top: 57px;

}
.icon1{
width: 40px;
height: 46px;
left: 120px;
top: 61px;
}
.flex_nav{
width: 57px;
height: 27px;
left: 635px;
top: 71px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
}
.buscardor{
 width: 28px;
height: 28px;
left: 1080px;
top: 70px;
}
.contact_us{
 width: 171px;
height: 69px;
left: 1148px;
top: 50px;
background: var(--fondo-color);
border-radius: 30px;
color: var(--boton-color);
font-size: 18px;
border: none;
}

.conten_1{
    height: 643px;
    
}
.imag1{
width: 521px;
height: 643px;
left: 799px;
top: 269px;
border-radius: 20px;
margin:10px;
padding:8px;
    
}
.title1 h1{
    width: 539px;
    height: 202px;
    left: 120px;
    top: 279px;
    font-style: normal;
font-weight: 400;
font-size: 74px;
line-height: 101px;
}
.title1 p{
    width: 544px;
height: 62px;
left: 120.34px;
top: 495px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 31px;

}

.explorer{
    color:var(--boton-color);
    background-color: var(--fondo-color);
    width: 171px;
height: 69px;
left: 120px;
top: 654px;
border-radius: 30px;
font-size: 18px;
border: none;
}
.watch_video{
width: 197px;
height: 64px;
left: 321px;
top: 656px;
font-size: 18px;
background-color: var(--backgrnd-color);
outline: none;
margin: 30px;
border: none;

}
.medium_bt{
margin:80px;
padding:30px;

}
.numbers_1 h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
}
.numbers_1 p{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    color: var(--color-text);

}
.h-1{
width: 87px;
height: 49px;
left: 125px;
top: 815px;


}
.h-2{
 width: 70px;
height: 49px;
left: 334px;
top: 815px;


}
.h-3{
width: 77px;
height: 49px;
left: 537px;
top: 815px;
line-height: 24px;


}

.p1{
width: 97px;
height: 48px;
left: 120px;
top: 874px;
}
.p2{
width: 104px;
height: 48px;
left: 317px;
top: 874px;
}
.p3{
width: 110px;
height: 24px;
left: 521px;
top: 874px;
margin: 10px;
}